<server description="defaultServer">

    <featureManager>
        <feature>beanValidation-3.0</feature>
        <feature>jdbc-4.3</feature>
        <feature>jndi-1.0</feature>
        <feature>microProfile-7.0</feature>
        <feature>pages-3.1</feature>
        <feature>servlet-6.0</feature>
        <feature>sessionDatabase-1.0</feature>
    </featureManager>

    <keyStore id="defaultKeyStore" password="password"/>
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443"/>
    <webApplication location="shopmanager.war" contextRoot="/"/>

    <library id="jdbcLib">
        <fileset dir="${server.config.dir}/jdbc" includes="*.jar"/>
    </library>

    <dataSource id="database" jndiName="jdbc/database">
        <jdbcDriver libraryRef="jdbcLib"/>
        <properties serverName="${DB_HOST}"
                    portNumber="${DB_PORT}"
                    databaseName="${DB_NAME}"
                    user="${DB_USER}"
                    password="${DB_PASSWORD}"/>
    </dataSource>

    <httpSessionDatabase id="session_db"
                         dataSourceRef="database"
                         tableName="sessions"/>

    <httpSession storageRef="session_db"
                 cookieHttpOnly="true"
                 cookieSameSite="Strict"/>
</server>
